
<app-nav-app></app-nav-app>

<section>
    <main>
        <h3> Bienvenido a la Pagina De Prueba De Ivan Ortega </h3>
        <article>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore inventore iure, quo facilis, illum
                fugiat corporis blanditiis ducimus velit quae, deleniti praesentium similique ipsa at repudiandae porro.
                Facilis, sit est!</p>
        </article>

        <div>
            <button>
                COMENZAR YA
            </button>
        </div>
    </main>
</section>